body{
    background-color: #F5EFE7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_post{
    width: 55%;
    height: auto;

   
}
.post{
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    font-size: 1.3rem;

    background-color:#D8C4B6;
  /*  border: 3px solid rgb(150, 46, 199);*/

    box-shadow: 10px 10px 21px 0px rgba(48,30,0,0.6);
-webkit-box-shadow: 10px 10px 21px 0px rgba(48,30,0,0.6);
-moz-box-shadow: 10px 10px 21px 0px rgba(48,30,0,0.6);

   

    border-radius: 2rem;
}
